* {
	margin:0;
	padding:0;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	position: absolute;
}

.homePage {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #292C7B;
	font-family: 'Lato', sans-serif;
	text-align: right;
	position:relative;
	padding: 2.25em;
	width: 100%;
	box-sizing: border-box;
}

li {
	list-style-type: none;
	display: inline;
	text-align:right;
	padding: 1em;
}

.page {
	text-decoration:none;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1rem;
	text-align: right;
	
}

.page:hover, .selected {
	background-color: white;
	color: #292C7B;
	padding: 1em;
	border-radius: 1em;
}

.bigImage {
	width:100%;
	filter: brightness(50%);
}


/* <-------------- US Language History CSS --------------> */

main.contentGrid {
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.left_column, .right_column {
	background-color:#00719c;
}

.ulh_content {
	font-family: 'Lato', sans-serif;
	background-color:white;
	height: auto;
}

.ulh_title {
	position:relative;
	top: 1em;
	text-align: center;
	text-decoration: underline;
	text-underline-offset: 10px;
	margin-bottom:3em;
}

.intro_text {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width:80%;
}

.intro_divider {
	justify-content: center;
	margin:5em auto;
	height:1.5px;
	background-color: #D3D3D3;
	width: 85%;
	border-radius: 2px;
}

/* <-------------- Quiz CSS --------------> */

.quiz {
	position:relative;
	width: 50%;
}

.grid-container {
	display: inline-grid;
	grid-template-columns: 20% 60% 20%;
	width: 100%;
	align-items: center;
	margin-left: 15%;
}

.grid-item {
	display: inline-grid;
}

#leftSide, #rightSide {
	width: 20%;
}