* {
	margin:0;
	padding:0;
}

html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: auto;
	position: absolute;
}

.homePage {
	margin: 0;
	padding: 0;
}

nav {
	background-color: #292C7B;
	font-family: 'Lato', sans-serif;
	text-align: right;
	position:relative;
	padding: 2.25em;
	width: 100%;
	box-sizing: border-box;
}

li {
	list-style-type: none;
	display: inline;
	text-align:right;
	padding: 1em;
}

.page {
	text-decoration:none;
	color: white;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 1rem;
	text-align: right;
}

.page:hover, .selected {
	background-color: white;
	color: #292C7B;
	padding: 1em;
	border-radius: 1em;
}

.bigImage {
	width:100%;
	filter: brightness(50%);
}

/* <-------------- US Language History CSS --------------> */

main.contentGrid {
	display: grid;
	grid-template-columns: 10% 80% 10%;
}

.left_column, .right_column {
	background-color:#00719c;
}

.ulh_content {
	position: relative;
	font-family: 'Lato', sans-serif;
	background-color:white;
	height: auto;
}

.intro {
	text-align: center;
}

.new_amsterdam {
	width:100%;
	filter: brightness(50%);
}

h1.title {
	text-align: center;
	justify-content: center;
}

.ulh_title {
	position:absolute;
	top: 5em;
  	left: 50%;
	z-index:0;
  	transform: translate(-50%, -50%);
	text-decoration: underline;
	text-underline-offset: 10px;
	color:white;
}

.intro_text {
	position:absolute;
	left: 50%;
	z-index: 0;
  	transform: translate(-50%, -50%);
	font-size: 1.25rem;
	width:80%;
	color:white;
}

.intro_divider {
	justify-content: center;
	margin:4em auto;
	height:2px;
	background-color:black;
	width: 75%;
	border-radius: 2px;
}

/* <-------------- Quiz CSS --------------> */

.quiz {
	position:relative;
	width: 50%;
	justify-content: center;
}

.grid-container {
	display: inline-grid;
	width: 100%;
	align-items: center;
}

.grid-item {
	display: inline-grid;
	height: 100%;
}

.myth, .fact {
	margin-left: 5%;
	margin-right: 5%;
}



#quizGrid {
	grid-template-columns: 20% 60% 20%;
}

#resultsGrid {
	grid-template-columns: 15% 70% 15%;
}

#mythsGrid {
	grid-template-columns: 10% 37.5% 5% 37.5% 10%;
	height:100%;
}

#myths {
	/*background-color: #595C9B;*/
	height:100%;
	/*color: white;*/
}

#facts {
	/*background-color: #595C9B;*/
	height:100%;
	/*color:white;*/
}

.spacer {
	background-color: #292C7B;
}

p {
	display:inline-block;
}